# Vercel Postgres — se genera automáticamente al conectar la DB en el dashboard
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# OpenWeatherMap API key
OPENWEATHER_API_KEY=
